# .coveragerc to control coverage.py (exmaple file: https://github.com/Geotab/mygeotab-python/blob/master/.coveragerc)
[run]
omit =
    *__init__*
    energy_demand/main.py
    energy_demand/read_and_plot_results.py
    energy_demand/geography/write_shp.py
    energy_demand/basic/logger_setup.py
    energy_demand/basic/lookup_tables.py
    energy_demand/charts/*
    energy_demand/cli/*
    energy_demand/validation/*
    energy_demand/plotting/*
    energy_demand/processing/*
