# .coveragerc to control coverage.py
[run]
omit =
    main.py
    read_and_plot_results.py
    *__init__*
    energy_demand/charts/*
    energy_demand/cli/*
    energy_demand/validation/*
    energy_demand/plotting/*
