# .coveragerc to control coverage.py
[run]
omit =
    *__init__*
    charts/*
    energy_demand/charts/*
    cli/*
    validation/*
    energy_demand/validation/*
    plotting/*
    plotting/validation/*
