# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.mypy_cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
.pytest_cache

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info
*.prof

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_build/*
cover/*
MANIFEST

# Model configuration
#*.ini

# Files and folders to ignore
model_output/*.csv
model_output/*.pdf
data/data_scripts/*.csv
data/data_scripts/*.txt
energy_demand/data/*
#wrapperconfig.ini
_raw_data
_processed_data
config_data/*
config_data/01-validation_datasets/*
config_data/02-spatial_index/*
config_data/05-dwelling_stock_related/*
config_data/09-emission_factors/*
config_data/*.yml
data/*
